.list-of-products-page-content {
    display: flex;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}



/* filter section */ 

.filter-section{
    flex: 1;
}

.filter-box {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
    gap: 0.5rem;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-label,
.filter-toggle {
    font-size: 1rem;
    font-weight: bold;
}

.filter-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 0.5rem;
}



/* product grid */

.product-section {
    flex: 4;
}

.product-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid black;
}

.product-pages {
    text-align: center;
    margin-top: 4rem;
}