<header id="top-navigation">
  <nav>
    <div id="menu-title">
      <a href="/index.html" class="title-32px">american vintage</a>
    </div>
    <div id="menu-category">
      <ul>
        <li>Shop</li>
        <li>All Products</li>
        <li>New Arrival</li>
        <li>Sale</li>
        <li>About</li>
      </ul>
    </div>
    <div id="menu-icon">
      <img src="../styles/sources/search-black.png" alt="Search Icon" class="icon" />
      <img src="../styles/sources/cart-black.png" alt="Cart Icon" class="icon" />
      <img src="../styles/sources/user-black.png" alt="User Icon" class="icon" />
    </div>
  </nav>
</header>