<header id="top-navigation">
    <nav>
        <div id="menu-title">
            <a href="../homepage" class="title-32px">american vintage</a>
        </div>
        
        <div id="menu-category">
            <ul>
              <li class="nav-item dropdown-wrapper" id="shop-menu">
                <span class="has-dropdown">Shop</span>
                <div class="dropdown-menu">
                  <a href="../tops">Tops</a>
                  <a href="#">Bottoms</a>
                  <a href="#">Outerwear</a>
                  <a href="#">Dresses</a>
                  <a href="#">Overalls</a>
                  <a href="#">Boots</a>
                  <a href="#">Accessories</a>
                </div>
              </li>
              <li>All Products</li>
              <li>New Arrival</li>
              <li>Sale</li>
              <li>About</li>
            </ul>
        </div>
          

        <div id="menu-icon">
            <div class="icon" id="search-icon"></div>
            <a href="../cart">
                <div class="icon" id="cart-icon"></div>
            </a>
            <div class="icon" id="user-icon"></div>
        </div>

    </nav>
</header>