<header id="top-navigation">
  <nav>
    <div id="menu-title">
      <a href="/index.html" class="title-32px">american vintage</a>
    </div>
    <div id="menu-category">
      <ul>
        <li>Shop</li>
        <li>All Products</li>
        <li>New Arrival</li>
        <li>Sale</li>
        <li>About</li>
      </ul>
    </div>
    <div id="menu-icon">
      <div class="icon" id="search-icon"></div>
      <div class="icon" id="cart-icon"></div>
      <div class="icon" id="user-icon"></div>
    </div>
  </nav>
</header>