<header id="top-navigation">
    <nav>
        <div class="icon" id="mobile-header-left">
            <button id="menu-toggle"></button>
        </div>
        <div class="icon" id="mobile-header-center">
            <a href="/index.html"></a>
        </div>
        <div id="mobile-header-right">
            <div class="icon" id="search-icon"></div>
            <a href="/cart">
                <div class="icon" id="cart-icon"></div>
            </a>
            <div class="icon" id="user-icon"></div>
        </div>
    </nav>
</header>
  