<template id="product-card-template">
    <div class="product-card">
      <a href="../products/tops2.html">
        <img class="product-image" src="" alt="Product Image" />
      </a>
  
      <div class="product-info">
        <a href="../products/tops2.html">
          <h3 class="product-name"></h3>
        </a>
        <p class="product-description"></p>
        <div class="product-bottom">
          <span class="product-price"></span>
          <button class="btn-default add-to-cart-btn">Add to Cart</button>
        </div>
      </div>
    </div>
</template>
  