.product-detail-container {
    padding: 4rem 2rem;
    font-family: 'Inter';
    color: black;
    width: 100%;
    box-sizing: border-box;
}

.product-detail-content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem 0;
}
  
.product-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    flex: 3;
    min-width: 320px;
}


  
.product-images img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
}


.product-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}



  .product-name-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    font-size: 24px;
    font-weight: bold;
  }
  
  .product-name {
    flex: 1;
    margin: 0;
    word-break: break-word;
  }
  
  .product-price {
    font-size: 32px;
    flex-shrink: 0; /* 줄어들지 않게 고정 */
    margin: 0;
  }

  .product-description-features {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .product-description-size {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  
  .product-description-measurements {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  .product-description-notes {
    font-size: 12px;
    color: #aa0000;
    font-style: italic;
  }


  .related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
  }
  