#product-detail-container {
    box-sizing: border-box;
}



#product-detail-content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem 0;
}

#product-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    flex: 2;
    min-width: 320px;
}
  
#product-images img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
}



#product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#product-info-name-price {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    font-weight: bold;
	font-size: 24px;
}
  
#product-info-name {
    flex: 1;
    word-break: break-word;
}
  
#product-info-price {
    flex-shrink: 0; /* 줄어들지 않게 고정 */
}



#product-info-description {
	font-size: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#product-info-description-features {
    font-weight: bold;
}
  
  
#product-info-description-measurements {
    font-size: 14px;
    font-weight: 300;
    margin-top: -1rem;
	margin-left: 1rem;
    line-height: 1.5;
}
  
#product-info-description-notes {
    color: #aa0000;
    font-style: italic;
}



.related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 4rem 0;
}

.add-to-cart-btn {
    width: 100%;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
}