/* default*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    min-height: 912px;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
}

main {
    flex: 1;
    width: 100%;
    padding: 4rem;
    position: relative;
}



/* top navigation */

#top-navigation {
    width: 100%;
    height: 64px;
    color: #534740;
    background-color: #f3f3f3;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

#top-navigation nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#menu-title {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Carnevalee Freakshow', sans-serif;
}
  
#menu-category ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
}
  
#menu-icon {
    display: flex;
    gap: 2rem;
    align-items: center;
}
  
.icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#search-icon {
    background-image: url('../assets/icons/search-dark.png');
}
#cart-icon {
    background-image: url('../assets/icons/cart-dark.png');
}
#user-icon {
    background-image: url('../assets/icons/user-dark.png');
}



/* top navigatino dropdown */

.has-dropdown {
    position: relative;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 19.5px);
    left: -8px;
    z-index: 999;
    
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, auto);
    gap: 1.5rem 5rem;
    padding: 1rem;
    padding-right: 5rem;
  
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;

    background-color: #f3f3f3;

    font-size: 1rem;
    text-decoration: none;
}
  
.has-dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
  
.dropdown-menu a:hover {
    text-decoration: underline;
}



/*footer*/

#footer {
    background-color: #534740;
    color: white;
    padding: 2rem 1.5rem;
    font-family: 'Inter', sans-serif;
}
  
.footer-content {
    display: flex;
    gap: 3rem; /* 칼럼 간 간격 */
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    gap: 0.75rem;
    flex: 1; /* 두 칼럼이 균등한 너비 차지 */
}
  
.footer-column p {
    margin: 0;
    font-size: 1rem;
}
  
.footer-copy {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.875rem;
    color: #aaa;
}



/* button */

.btn-default {
    width: 100%;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #584F3f;
    border: none;
    cursor: pointer;
}

.add-to-cart-btn {
    width: 5rem;
    height: 1.5rem;

    font-size: 12px;
    font-weight: bold;
}



/* search bar */

.popup-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2000;
  
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
  
.popup-container {
    width: 100%;
    background: #f3f3f3;
    padding: 3rem 1rem 0 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.popup-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.popup-close-btn {
    margin: 1rem;
    margin-left: auto;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

#search-popup-overlay {
    display: none;
}

#search-input-wrapper {
    width: 40rem;
    height: 3rem;
    background: #dddddd;
    border-radius: 1.5rem;
  
    display: flex;
    align-items: center;
}
  
#search-input-wrapper input {
    flex: 1;
    background: transparent;
    border: none;
    font-size: 1rem;
    outline: none;
    padding-left: 1.5rem;
}



/* product card */

.product-card {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Inter', sans-serif;
}
  
.product-image {
    width: 220px;
    height: 260px;
    object-fit: cover;
    background-color: #f4f4f4;
}
  
.product-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
  
.product-name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
}
  
.product-description {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}
  
.product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}
  
.product-price {
    font-weight: bold;
    font-size: 1rem;
}
  
.add-to-cart {
    height: 24px;
    width: 80px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #584F3f;
    cursor: pointer;

    border: none;
    box-shadow: none;
}



/* product card grid */  
.product-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    width: 100%;
}
  
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 60px 20px;
    width: 100%;
    justify-items: center;
}



/* cart item */

.cart-item {
    height:100px;
    display: flex;
    background: rgba(0, 0, 0, 0.05);
    padding: 0.5rem;
    gap: 1rem;
    align-items: stretch; 
}

.cart-item-img {
    height:100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.cart-item-content {
    display: flex;
    flex: 1;
    gap: 1.5rem;
    align-items: stretch;
    height: 100%;
}

.cart-item-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
}

.cart-item-title {
    font-weight: bold;
    font-size: 12px;
}
  
.cart-item-description {
    font-size: 8px;
    word-break: break-word;
}

.cart-item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 0 0 100px;
    min-width: 100px;
    height: 100%;
}

.cart-item-price {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}

.cart-item-remove {
    visibility: hidden;
}