@media (max-width: 768px) {
    main {
        padding: 2rem;
    }

    #top-navigation {
        padding: 1rem;
    }
    #mobile-header-left {
        background-image: url('../assets/icons/menu-dark.png');
    }
    #home-page #mobile-header-left {
        background-image: url('../assets/icons/menu-white.png');
    }
    #mobile-header-left button {
        display: block;
        width: 100%;
        height: 100%;
    }
    #mobile-header-center {
        background-image: url('../assets/icons/logo-dark.png');
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 32px;
        height: 32px;
    }
    #home-page #mobile-header-center {
        background-image: url('../assets/icons/logo-white.png');
    }
    #mobile-header-center a{
        display: block;
        width: 100%;
        height: 100%;
    }
    #mobile-header-right {
        display: flex;
        gap: 1rem;
    }


    #title-box {
        height: 20%;
    }
    .title-96px {
        font-size: 64px;
    }
    .title-128px {
        font-size: 80px;
    }
    .title-64px {
        font-size: 48px;
    }

    .home-section {
        padding: 6rem 0;
        gap: 4rem;
    }


    .vertical-popup-overlay {
        justify-content: flex-start;
    }
    .vertical-popup-overlay .popup-container {
        padding: 2rem;
    } 
    #left-menu {
        align-items: flex-start;
        width: 300px;
        height: 100%;
        padding-top: 2rem;
        padding-left: 1.5rem;
        background-color: #f3f3f3;
        animation: slideIn 0.3s ease-out;

        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2.7rem;

        position: relative;
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    #left-menu-top {
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }
    #left-menu-top .popup-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        margin: 0;
        display: flex;
        align-items: flex-start
    }
    #left-menu-top .popup-title {
        margin: 0;
    }

    #left-menu-main,
    #left-menu-categories {
        list-style: none;
        padding: 0;
        margin-top: 2rem;
        width: 100%;
    }

    #left-menu-main li,
    .category-item {
        color: #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.3rem;
    }

    #left-menu-main li span,
    #category-item span,
    #category-item a {
        color: #000;
        text-decoration: none;
        cursor: default;
    }

    #category-item a {
        cursor: pointer;
    }




    .filter-section {
        display: none;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .product-card {
        width: 150px;
    }
    .add-to-cart-btn {
        text-align: center;
    }


    #product-info {
        font-size: 1rem;
    }
    #product-info-name-price {
        font-size: 1.5rem;
        gap: 1rem;
    }


    a.btn-default {
        width: 100%;
    }



    .cart-item {
        height: 100px;
        padding: 0.5rem;
        font-size: 1rem;
        gap: 1rem;
    }
    .cart-item-title {
        font-size: 1rem;
    }
    .cart-item-price {
        font-size: 1rem;
    }
    .cart-item-description {
        font-size: 0.8rem;
    }
    .cart-item-remove {
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
    }
    #cart-total {
        font-size: 1rem;
    }







    .checkout-container {
        margin: 0;
        flex-direction: column-reverse;
    }





    /* popup */
    .popup-container {
        position: relative;
        padding: 2rem;
    }
    #search-input-wrapper {
        width: 100%;
        height: 2rem;
        background: #dddddd;
        border-radius: 1.5rem;
        margin-bottom: 2rem;
    }
    .popup-close-btn {
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        margin: 0;
    }




    #search-results {
        padding: 0;
    }
    

    #cart-popup-title {
        padding: 0 4rem;
    }
    .cart-item-placeholder {
        margin-bottom: 2rem;
    }



    .confirmation-container {
        gap: 4rem;
    }
    .confirmation-description {
        margin-bottom: -1rem;
    }
    .confirmation-buttons {
        width: 100%;
        gap: 0.5rem;
        margin-bottom: 8rem;
    }
}