/* ===== 기본 설정 ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Carnevalee Freakshow';
  src: url('./sources/CarnevaleeFreakshow.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./sources/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* landing section */
#home {
  position: relative;
  height: 100vh;
  background-image: url('sources/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-box h1 {
  margin: -1.2rem 0;
  line-height: 1;
}

#title-box {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#home button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.button-default {
  min-width: 160px;
  height: 48px;
  padding: 0 1rem;
  background-color: white;
  color: black;
  border: none;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

/* navigation */
#top-navigation {
  width: 100%;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;

  position: fixed;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
}

#top-navigation nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'Carnevalee Freakshow', sans-serif;
}

#menu-category ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

#menu-icon {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}


h1 {
  font-family: 'Carnevalee Freakshow', cursive, sans-serif;
  font-size: 6rem;
  color: white;
  text-align: center;
  font-weight: 100;
}

.title-1 {
  font-size: 6rem;
}

.title-2 {
  font-size: 8rem;
}

.title-3 {
  font-size: 4rem;
}

.title-32px {
  font-family: 'Carnevalee Freakshow', cursive, sans-serif;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 32px;
}

