/* font embedding */
@font-face {
  font-family: 'Carnevalee Freakshow';
  src: url('./sources/CarnevaleeFreakshow.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./sources/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* set default font */
body, html {
  font-family: 'Inter', sans-serif;
}


/* home page */
/* title */
h1 {
  font-family: 'Carnevalee Freakshow', cursive, sans-serif;
  font-size: 6rem;
  color: white;
  text-align: center;
  font-weight: 100;
}

.title-96px {
  font-size: 6rem;
}

.title-128px {
  font-size: 8rem;
}

.title-64px {
  font-size: 4rem;
}

.title-32px {
  font-family: 'Carnevalee Freakshow';
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
}

.title-category {
  font-family: 'Carnevalee Freakshow';
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  color: black;
}

.inter-16px-light {
  font-family: 'Inter';
  font-weight: 200;
  font-size: 1rem;
}


.filter-header {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}


a {
  text-decoration: none;
  color: inherit;
}
